$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}
/* light is default mode, so pair with general html definition */
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 5rem;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
}

header {
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}

#main {
    margin: 2rem;  
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

.content-subhead {
    margin: 2em 0 1em 0;
    font-weight: 300;
    position: relative;
}

.sort {
    margin: 2em 0 1em 0;  
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    border-top: 1px solid #eee;
}

.autocomplete {
    width: 20em;
}

input.autocomplete {
    width: 15em;
}

.select {
    /* margin: 0; */
    margin: .2em 0 0;
    padding: 0;
    border-radius: .3em;
    list-style: none;
    box-sizing: border-box;
    /* background: $base0; */
    /* position: absolute; */
    /* left: 0; */
    /* z-index: 1; */
    /* max-width: 100%; */
    /* background: hsla(0,0%,100%,.9); */
    /* background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8)); */
    /* border: 1px solid rgba(0,0,0,.3); */
    /* box-shadow: .05em .2em .6em rgba(0,0,0,.2); */
    /* text-shadow: none; */
}
.select {
    li {
        background:$base2;
        position: relative;
        padding: .2em .5em;
        cursor: pointer;        
    }
    li:hover {color: $violet; background:$base3  }
}


